@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    box-sizing: border-box;
}


body {
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.circle {
    /* circumference of circle of radius 35 --> 219.91 roundup-220*/
    /* stroke-dasharray takes an array of spaces between circle */
    /* stroke-dasharray: 0 4 10; */
    /* Dashes and gaps of different sizes */
    stroke-dasharray: 0 220;
    /* stroke-dasharray  0 220 means gap/nothing in between of 220  */
    animation: drawCircle 1.2s ease-in-out forwards;
    /* use forwards else dissapears */
    /* Why It Disappears Without Forwards
     Without the forwards property, the animation behaves as follows:

     After completing the animation, the circle disappears because there are no more keyframes to hold onto.
     The circle starts drawing from left to right.
     
     This behavior occurs because:
     CSS animations by default don't persist after completion unless specified otherwise.
     When the animation finishes, it removes all the intermediate keyframes created during the animation.
     With no keyframes remaining, the circle effectively disappears. */
}

.check {
    stroke-dasharray: 0 48;
    /* dont show anything other than 0 , that is dot point at 0 */

    /* stroke-dasharray: 10 30; */
    /* dont show anything between 10 and 30 */

    stroke-dashoffset: 1;
    /* The start of the dash array computation
    is pulled by "x" user units */

    animation: drawCheck 1s ease-in forwards;
    animation-delay: 1.3s;
}

@keyframes drawCircle {
    from {
        stroke-dasharray: 0 220;
    }

    to {
        stroke-dasharray: 220 220;
    }
}

@keyframes drawCheck {
    from {
        stroke-dasharray: 0 48;
    }

    to {
        stroke-dasharray: 48 48;
        stroke-dashoffset: 0;
    }
}