@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}


body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>;
    font-style: normal; */
}

.flexbox {
    display: flex;
    align-items: center;
    height: 100vh;
}

.item {
    margin-right: 10px;
    position: relative;
    height: 70vh;
    border-radius: 50px;
    transition: flex .4s ease-in;
    cursor: pointer;
    flex-basis: 0;
    flex-grow: .5;

}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;

}

.item p {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #fff;
    font-size: 16px;
    opacity: 0;
    transition: opacity .5s ease-in-out;
}

.active {
    flex-grow: 2;
    border-radius: 2%;
}

.active p {
    opacity: 1;
}