@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    box-sizing: border-box;

}




body {
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
}

button {
    font-family: "Roboto", sans-serif;
    all: unset;
    padding: .4rem 1rem;
    border: 1px solid black;
    border-radius: 3px;
}

p {
    margin: 0;
}

.steps-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.btn-container>button:first-child {
    margin-right: 5px;
}


.step {
    font-weight: 500;
    position: relative;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 3px solid #DCDCDC;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-right: 3rem;
    transition: border .5s ease-out;
    transition-delay: .5;
}

.step::before {
    position: absolute;
    content: "";
    height: 3px;
    width: 3rem;
    background-color: #DCDCDC;
    right: 2.2rem;
    transition: background-color .5s ease-out;

}


.step:first-child::before {
    display: none;
}

.step:last-child {
    margin: 0;
}

.active {
    border: 3px solid rgb(64, 64, 216);
}

.active::before {
    background-color: rgb(64, 64, 216);
}